<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @inventory.productid %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @inventory.vendor %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @inventory.dept %>
</p>

<p>
  <strong>Num:</strong>
  <%= @inventory.num %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
